/*CRYPTO*/

.cryptocurrency{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-family: 'BuyanBold';
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #f8a338;
    font-size: 16px;
    font-weight: 300;
    padding: 10px;
    line-height: 22px;
}

h3{
    font-family: 'BuyanBold';
    text-align: center;
    font-weight: 600;
    margin: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.cryptocurrency-col{
    flex-basis: 31%;
    background: rgba(248, 163, 56, 0.3);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    margin: 10px;
    transition: 0.5s;
}

.cryptocurrency-col:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.cryptocurrency-col img{
    width: 150px;
    margin: 20px;
}

.cryptocurrency-col a{
    text-decoration: none;
}

.cryptocurrency-col p{
    border-radius: 5px;
    background-color: #fff;
}