input, textarea{
    font-family: 'BuyanRegular';
}

.contactpoint h1, p{
    text-align: center;
}

.contactUs{
    position: relative;
    width: 100%;
    min-height: 30vh;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    width: 100%;
    max-width: 820px;
    background-color: #f8a338;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    overflow: hidden;
    
}

.contact-form{
    background-color: #000;
    position: relative;
}

.contact-form::before{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #000;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

.circle{
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #f8a338);
    position: absolute;
}

.circle.one{
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
} 

.circle.two{
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
} 


form{
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.title{
    color: #000;
    font-size: 25px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.input-container{
    position: relative;
    margin: 1rem 0;
}

.input{
    width: 90%;
    outline: none;
    border: 2px solid #000;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}

textarea.input{
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    overflow-y: auto;
}

.input-container label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.input-container.textarea label{
    top: 1em;
    transform: translateY(0);
}

.btn{
    padding: 0.6rem 1.3rem;
    background-color: #000;
    border: 2px solid #fff;
    font-size: 0.95rem;
    color: #f8a338;
    line-height: 1;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    transition: 0,3s;
    margin: 0;
}

.btn:hover{
    background-color: #f8a338;
    color: black;
}

.input-container span{
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;   
}

.input-container span::before,
.input-container span::after{
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f8a338;
}

.input-container span::before{
    left: 50%;
}

.input-container span::after{
    right: 50%;
}

.input-container.focus label{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}

.input-container.focus span::before,
.input-container.focus span::after{
    width: 50%;
    opacity: 1;
}