/*TEXTBOX*/

.textBox{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.textBox h1{
    font-family: 'BuyanBold';
    font-size: 60px;
    color: #f8a338;
}

.textBox p{
    font-size: 20px;
    color: #fff;
    margin: 10px 0 40px;
}

.more-button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #f8a338;
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.more-button:hover{
    border: 1px solid #fff;
    background: #f8a338;
    transition: 1s;
}