.about{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('/assets/images/download_banner.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.about h1{
    color: #f8a338;
    margin-bottom: 40px;
    padding: 0;

}

.download-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #f8a338;
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.download-btn:hover{
    border: 1px solid #fff;
    background: #f8a338;
    transition: 1s;
}

