footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    border-top: 5px solid #f8a338;
}

footer h4{
    font-family: 'BuyanBold';
    margin-bottom: 25px;
    margin-top: 10px;
    font-weight: 600;
}

.icons .fa{
    color: #000;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o{
   color: #000; 
}